<section class="private-key-status">
  <p class="ss-key">To post, please <a href="/pages/add-key">confirm your identity</a>.</p>
</section>

<section class="post-message">
  <%= form_for @upload do |form| %>
    <%= form.file_field :document %>
    <input type="hidden" id="signed_file">
    <input type="hidden" id="public_key">
    <%= form.submit 'Upload' %>
  <% end %>
</section>

<ol class="messages">
  <% @uploads.each do |upload| %>
    <li class="message">
    <div class="message-body"><img src="<%= upload.document %>" data-sha="<%= upload.sha256 %>" data-keyid="<%= upload.keyid %>"></div>
      <section class="metadata">
        <span class="ss-femaleuser"><a href="#">Name of uploader</a> on date</span>
      </section>
    </li>
  <% end %>
</ol>
