<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

  <div class="container">
    <header>
    <h1><a href="/"><span>A</span><span>v</span>alanche</a></h1>
    </header>

    <%= render 'flashes' -%>
    <%= yield %>
  </div>

  <%= render 'javascript' %>
</body>
</html>
